{
  "env": {
    "browser": true
  },
  "globals": {
    "enki": true,
    "expect": true,
    "describe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "setFixtures": true,
    "beforeEach": true,
    "afterEach": true
  },
  "rules": {
    "quotes": "single",
    "no-underscore-dangle": 0,
    "no-use-before-define": 1,
    "eol-last": 0,
    "space-unary-ops":0,
    "no-loop-func":0,
    "no-unused-expressions":1
  }
}